.msgList {
    padding-left: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    padding: 1px;
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
}
