.previewContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-top: 2%;
}
.previewVideo {
    position: absolute;
    left: 22%;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}
