.chat {
    align-items: right;
    justify-content: right;
    width: 32%;
    padding: 1%;
    height: 85vh;
}
.message {
    display: inline-block;
    margin-top: 135%;
}
.cross {
    text-align: right;
    justify-content: right;
    align-items: right;
}
