.btnGroup {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.image {
    justify-content: center;
    align-items: center;
    text-align: center;
}
