.carousel-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}
.carousel-container::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.carousel-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.carousel-container::-webkit-scrollbar-thumb {
    padding: 1px;
    background: grey;
}

/* Handle on hover */
.carousel-container::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 191, 191);
}
.controlContainer {
    position: absolute;
    bottom: 5%;
    left: 35%;
}
